## nettoyer, standardiser et préparer les données pour l’analyse & Power BI

Charger le CSV propre

In [3]:
import pandas as pd

path = "../data/processed/cta_ridership_by_route_dailyy.csv"
df = pd.read_csv(path)

df.head()

C:\Users\user\AppData\Local\Temp\ipykernel_15324\762716152.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

                                             subject        date  rides route
0  https://data.cityofchicago.org/resource/jyb9-n...  2001-01-02   5813     1
1  https://data.cityofchicago.org/resource/jyb9-n...  2001-01-03   6809     1
2  https://data.cityofchicago.org/resource/jyb9-n...  2001-01-16   7775     1
3  https://data.cityofchicago.org/resource/jyb9-n...  2001-05-22   7429     1
4  https://data.cityofchicago.org/resource/jyb9-n...  2004-12-02   3925     1

In [4]:
# Affiche les informations sur le DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1092474 entries, 0 to 1092473
Data columns (total 4 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   subject  1092474 non-null  object
 1   date     1092474 non-null  object
 2   rides    1092474 non-null  int64
 3   route    1092474 non-null  object
dtypes: int64(1), object(3)
memory usage: 33.3+ MB

In [5]:
# Affiche les statistiques descriptives du DataFrame
df.describe()

              rides
count  1.092474e+06
mean   5.833470e+03
std    6.037996e+03
min    0.000000e+00
25%    1.269000e+03
50%    3.674000e+03
75%    8.669000e+03
max    4.517700e+04

In [6]:
# Valeurs uniques critiques
df["route"].nunique(), df["date"].nunique()

(193, 9100)

In [7]:
# Vérifier les doublons logiques
df.duplicated(subset=["route", "date"]).sum()

np.int64(0)

## Nettoyage & typage (propre)

In [9]:
# Conversion des types
df["date"] = pd.to_datetime(df["date"], errors="coerce")
df["route"] = df["route"].str.strip()
df["rides"] = pd.to_numeric(df["rides"], errors="coerce")
print(df.dtypes)

subject            object
date       datetime64[ns]
rides               int64
route              object
dtype: object

In [10]:
# Suppression des lignes invalides
df = df.dropna(subset=["date", "route", "rides"])
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 830330 entries, 0 to 1092473
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   subject  830330 non-null  object
 1   date     830330 non-null  datetime64[ns]
 2   rides    830330 non-null  int64
 3   route    830330 non-null  object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 31.7+ MB
None

In [ ]:
# Sauvegarde finale (dataset clean)
output_path = "../data/processed/cta_ridership_by_route_daily_clean.csv"
df.to_csv(output_path, index=False)

output_path

'../data/processed/cta_ridership_by_route_daily_clean.csv'